.chart {
  display: block;
  width: 1440px;
  margin: 0 auto 30px;
}

  path {
    &.link {
      fill: none;
      stroke: #ccc;
      stroke-width: 1.5px;
    }
  }

  .node {
    circle {
      cursor: pointer;
      fill: #fff;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
    text {
      font-size: 11px;
    }
  }

  a.tooltip {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    height: 20px;
    padding: 8px;
    font: 10px sans-serif;
    background: #f3f3f3;
    border: solid 1px #aaa;
    border-radius: 8px;
  }
